*{
    margin:0;
    padding:0
}

.sidebar{ 
    background-color:rgb(31, 31, 125);
    color:rgb(242, 245, 249);
    width:10vw;
    font-family: 'Fira Sans', sans-serif;
    height:100vh;
}

.sidebar nav{
    padding:45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;
}

.main{
    background-color:aqua;
    width:90vw;
}

.container{
    display:flex; 
}

.infocontainer{
    background-color:rgb(21, 122, 122);
    height:40vh;
    width:80vw;
}
