*{
    margin:0px;
    padding:0px
}

body{
    background-color: rgb(4, 4, 42);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:80px;
    background-color:  rgb(18, 18, 62);
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin: 0px 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color:rgb(170, 107, 228);
    font-size: 1.1rem;
}

main hr{
    border: 0;
    border-radius:2px;
    height:1.2px;
    margin:18px 76px;
    background:rgb(170, 107, 228);;
}

.right li{
    padding: auto;
}

.left{
    font-size: 2rem;
}

.firstsection{
    display:flex;
    justify-content:space-around;
    margin:110px 0px; 
    align-items: center;
}

.firstsection > div{
    width: 30%;
}

.leftsection{
    font-size: 3rem;
}

.rightsection img{
    width:80%;
}

.purple{
    color:rgb(170, 107, 228)
}

#element{
    color:rgb(170, 107, 228)
}

.secondSection{
    max-width :80vw;
    margin:auto;
    height:50vh;
}

.secondSection h1{
    font-size: 1.9rem;
}

.past{
    font-size: 1.5rem;
    margin: 29px 159px 0px 0px;
    height: 18px;
    padding: 10px 10px 10px 11px;
}

.box{
    display: flex;

}